<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/genres/sidebar', genres: @genres %>
      <%= render 'admin/sites/sidebar', sites: @sites %>
    </div>
    <div class="col-md-8 offset-md-1" >
      <div class="text-center mt-3 mb-5">
        <span class="h3 border-bottom border-dark mt-3 mb-2"><strong>コメント一覧</strong></span>
        <span class="h5"> (全<%= @comments.count %>件)</span>
      </div>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>投稿日</th>
            <th>タイトル</th>
            <th>レビューID</th>
            <th>コメント投稿者</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
          <tr>
            <td>
              <%= link_to admin_comment_path(comment_id) do %>
                <%= comment.created_at.strftime('%Y/%m/%d') %>
              <% end %>
            </td>
            <td><%= comment.review.comic.title %></td>
            <td><%= comment.review_id %></td>
            <td><%= comment.customer.nickname %></td>
            <td>
              <% if comment.is_publishing == false %>
                <div class="text-secondary"><%= "非公開" %></div>
              <% elsif comment.is_reported == true %>
                <div class="text-danger"><%= "通報" %></div>
              <% else %>
                <div class="text-muted"><%= "ー" %></div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-3 mb-5">
        <%= paginate @comments %>
      </div>
    </div>
  </div>
</div>