<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/genres/sidebar', genres: @genres %>
      <%= render 'admin/sites/sidebar', sites: @sites %>
    </div>
    <div class="col-md-8 offset-md-1" >
      <div class="text-center mt-3 mb-5 aleart">
        <span class="h3 mt-3 mb-2"><strong>通報一覧</strong></span>
      </div>
      <div class="text-center mt-3 mb-2">
        <span class="h4 border-bottom border-dark mt-3 mb-2"><strong>通報レビュー一覧</strong></span>
        <span class="h6"> (全<%= @reporteds_all.count %>件)</span>
      </div>
      <%= render 'admin/reporteds/index', reporteds: @reporteds %>
      <div class="text-center mt-3 mb-5">
        <%= paginate @reporteds %>
      </div>
      <div class="text-center mt-3 mb-2">
        <span class="h4 border-bottom border-dark mt-3 mb-2"><strong>通報コメント一覧</strong></span>
        <span class="h6"> (全<%= @reported_comments_all.count %>件)</span>
      </div>
      <%= render 'admin/reported_comments/index', reported_comments: @reported_comments %>
      <div class="text-center mt-3 mb-5">
        <%= paginate @reported_comments %>
      </div>
    </div>
  </div>
</div>