<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/genres/sidebar', genres: @genres %>
      <%= render 'admin/sites/sidebar', sites: @sites %>
    </div>
    <div class="col-md-8 offset-md-1" >
      <div class="row">
        <h3 class="col-lg-12 bg-light text-center">通報一覧</h3>
      </div>
      <div class="mt-5 mb-5">
        <h4>通報レビュー一覧<span class="h5 ml-2"> (全<%= @reporteds.count %>件)</span></h4>
        <%= render 'admin/reporteds/index', reporteds: @reporteds %>
      </div>
      <div class="mt-5 mb-5">
        <h4>通報コメント一覧<span class="h5 ml-2"> (全<%= @reported_comments.count %>件)</span></h4>
        <%= render 'admin/reported_comments/index', reported_comments: @reported_comments %>
      </div>
    </div>
  </div>
</div>