<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>登録日</th>
      <th>ニックネーム</th>
      <th>レビュー数</th>
      <th>通報</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.created_at.strftime('%Y/%m/%d') %></td>
      <td>
        <%= link_to admin_customer_path(customer) do %>
          <%= customer.nickname %>
        <% end %>
      </td>
      <td><%= customer.reviews.count %>件</td>
      <td>
        <% if customer.reviews.reported.exists? %>
          <div class="text-danger font-weight-bold"><%= "通報" %></div>
        <% else %>
          <div class="text-muted"><%= "ー" %></div>
        <% end %>
      </td>
      <td>
        <% if customer.is_deleted == false %>
          <div class="text-success"><%= "有効" %></div>
        <% else %>
          <div class="text-muted"><%= "退会" %></div>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>