<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/genres/sidebar', genres: @genres %>
      <%= render 'admin/sites/sidebar', sites: @sites %>
    </div>
    <div class="col-lg-8 offset-md-1" >
      <div class="row">
        <h3 class="col-lg-12　text-center bg-side">　<%= @customer.nickname %>さんの詳細ページ　</h3>
         <div class="d-grid gap-2 d-md-block">
          <div class="btn btn-success ml-3">
            <%= link_to "編集する", edit_admin_customer_path(@customer), class: 'text-light text-decoration-none' %>
          </div>
        </div>
      </div>
      <div class="mb-5">
        <%= render 'show', customer: @customer %>
      </div>
      <div class="mt-5">
        <%= render 'admin/reviews/index', reviews: @reviews %>
      </div>
      <div class="text-center mt-3 mb-5">
        <%= paginate @reviews %>
      </div>
    </div>
  </div>
</div>
