<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/genres/sidebar', genres: @genres %>
      <%= render 'admin/sites/sidebar', sites: @sites %>
    </div>
    <div class="col-md-8 offset-md-1" >
      <div class="text-center mt-3 mb-5">
        <span class="h3 border-bottom border-dark mt-3 mb-2"><strong>レビュー一覧</strong></span>
        <span class="h5"> (全<%= @reviews.count %>件)</span>
      </div>
      <%= render 'admin/reviews/index', reviews: @reviews %>
      <div class="d-flex justify-content-center mt-3 mb-5">
        <%= paginate @reviews %>
      </div>
    </div>
  </div>
</div>