<div class="col-md-12 section s_07">
  <% reviews.each do |review| %>
  <% if review.body.blank?%>
    <div class="accordion_one">
      <div class="accordion_header d-flex justify-content-start title">
        <h5 class="mr-3"><%= review.customer.nickname %>さんの投稿</h5>
        <div class="h6 d-inline-flex mr-2"><%= review.title %></div>
        <div class="h6 d-inline-flex mb-3"><%= render "public/reviews/starviews", review: review %></div>
        <div class="h6 d-inline-flex ml-2">（星評価のみの投稿です）</div>
      </div>
    </div>
  <% elsif review.is_publishing == true %>
    <div class="accordion_one">
      <div class="accordion_header d-flex justify-content-start title">
        <h5 class="mr-3"><%= review.customer.nickname %>さんの投稿</h5>
        <div class="h6 d-inline-flex mr-2"><%= review.title %></div>
        <div class="h6 d-inline-flex mb-3"><%= render "public/reviews/starviews", review: review %></div>
        <% if review.exists_spoiler == true %>
          <div class="h6 d-inline-flex spoiler-true ml-2 mb-1">ネタバレあり</div>
        <% end %>
        <div class="i_box"><i class="one_i"></i></div>
      </div>
      <div class="accordion_inner">
        <div class="accordion_one">
          <div class="accordion_header">
           <p class="text-break"><%= review.body %></p>
            <% if review.customer_id != current_customer.id %>
              <div class="reported-btn">
                <%= link_to "コメントする", new_comic_review_comment_path(review.comic_id, review), class:"btn btn-sm btn-outline-success" %>
                <%= link_to "レビューを報告する", confirm_reported_comic_review_path(review.comic_id, review), class:"btn btn-sm btn-outline-danger"  %>
              </div>
            <% end %>
          </div>
        </div>
        <% if review.comments.exists? %>
        <div class="accordion_one">
          <div class="accordion_header title">
            <h5>このレビューへのコメント</h5>
            <div class="i_box"><i class="one_i"></i></div>
          </div>
          <div class="accordion_inner">
            <div class="accordion_one">
              <%= render "public/comments/index", review: review %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="acordion_one">
      <div class="accordion_header text-center title">
        <h5 class="delete">この投稿は管理者によって削除されました</h5>
      </div>
    </div>
  <% end %>
  <% end %>
</div>