<table class='table table-hover table-inverse'>
  <tbody>
    <% reviews.each do |review| %>
      <tr>
        <th><%= review.customer.nickname %>さんの投稿</th>
        <td><%= render "public/reviews/starviews", review: review %></td>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td colspan="5">
          <%= review.body %>
          <div class="float-right">
            <%= link_to "コメントする", new_comic_review_comment_path(review.comic_id, review), class:"btn btn-sm btn-outline-success" %>
            <%= link_to "通報する", comic_review_confirm_reported_path(review.comic_id, review), class:"btn btn-sm btn-outline-danger"  %>
          </div>
        </td>
      </tr>
      <% if review.comments.exists? %>
        <%= render "public/comments/index", review: review %>
      <% end %>
    <% end %>
  </tbody>
</table>
