<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/genres/sidebar', genres: @genres %>
      <%= render 'public/sites/sidebar', sites: @sites %>
    </div>
    <div class="col-md-8 offset-md-1" >
      <h2>コミック詳細 <i class="fas fa-book-open"></i></h2>
      <div class="row">
        <h4 class="mt-2 mr-2">タイトル : <%= @comic.title %></h4>
        <%= link_to "レビュー投稿", new_comic_review_path(@comic), class: "col-md-2 btn btn-warning" %>
      </div>
      <div class="row">
        <p class="mr-3"><strong>お気に入り：<%= @comic.favorites.count %>件</strong></p>
        <div><%= render 'public/favorites/favorite-btn', comic: @comic %></div>
      </div>
    </div>
  </div>
</div>