<%= flash[:alert]%>
<%= render "public/shared/error_messages", resource: resource %>
<div class="container">
  <div class="row">
    <%= render "public/shared/error_messages", resource: resource %>
    <h3 class="col-lg-3 bg-light text-center">ログイン</h3>
  </div>
  <div class="row">
    <h4 class="col-lg-auto bg-light text-center">会員の方はこちらからログイン</h4>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-lg-8">
    <%= form_with model: @customer, url: customer_session_path do |f| %>
      <div class="form-group row justify-content-center">
        <label for="email" class="col-lg-4 col-form-label">メールアドレス</label>
        <div class="col-lg-auto"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></div>
      </div>
      <div class="form-group row justify-content-center">
        <label for="password" class="col-lg-4 col-form-label">パスワード</label>
        <div class="col-lg-auto"><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></div>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field row justify-content-center">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-offset-5 form-group text-center">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

<%= render "public/shared/links" %>
</div>
