<div class="text-center mt-3 mb-5">
  <% if params[:genre_id] %>
    <span class="h3 border-bottom border-dark mt-2 mb-2"><strong><%= genre.name %>一覧</strong></span>
    <span class="h5"> (全<%= comics_all.count %>件)</span>
  <% else %>
    <span class="h3 border-bottom border-dark mt-2 mb-2"><strong>コミック一覧</strong></span>
    <span class="h5"> (全<%= comics_all.count %>件)</span>
  <% end %>
</div>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>　　　　　タイトル　　　　</th>
      <th>平均</th>
      <th>レビュー数</th>
      <th>お気に入り登録数</th>
    </tr>
  </thead>
  <tbody>
    <% comics.each do |comic| %>
    <tr>
      <td>
        <%= link_to admin_comic_path(comic) do %>
        <%= comic.title %>
        <% end %>
      </td>
      <td>
        <% unless comic.reviews.empty? %>
          <i class="fas fa-star" aria-hidden="true" style="color: #E4BC7F;"></i><%= comic.reviews.average(:evaluation).round(1) %>
        <% else %>
          ー
        <% end %>
      </td>
      <td><%= comic.reviews.count %>件</td>
      <td><i class="fas fa-star" aria-hidden="true" style="color: #E4BC7F;"></i><%= comic.favorites.count %>件</td>
    </tr>
    <% end %>
  </tbody>
</table>