<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
     <a class="navbar-brand" href="/"><big>EbookShelf</big></a>

      <div class="d-flex justify-content-center">
        <div class="text-light">
          <% if customer_signed_in? %>
            ようこそ、<%= current_customer.nickname %>さん!
          <% end %>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ",customer_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to comics_path, class: 'nav-link text-light' do %>
               <i class="fas fa-book-open"></i>漫画一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%=  link_to "課金一覧", customer_billings_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'nav-link text-light' %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%=  link_to "漫画一覧", admin_comics_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧",admin_customers_path,class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to "サイト一覧", admin_sites_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to "レビュー一覧", admin_root_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to "通報一覧", admin_reporteds_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "About", about_path,class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to "漫画一覧", comics_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path,class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path ,class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to "ゲストログイン", customers_guest_sign_in_path, class: 'nav-link text-light', method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
  </nav>
</header>